@(comment: String, objectCommented: models.EntryClass)(implicit messages: play.api.i18n.Messages)
@mails.main(messages) {

     <table>
                            <tr>
                                <td valign="top" style="padding:0 10px 10px 0">
                                </td>
                                <td valign="middle" style="padding:0 10px 10px 0;color:#000;font-size:14px;">@Messages("mail.commentOnObject.someonecommented")<br/>
                                </td>
                            </tr>
                            @defining(objectCommented) { optLst => 
                            @{optLst match {

                            case models.DebateYesOrNot(id: Long,idDebate: Long,comment:String,_,_,_,_,_,_,_,_) => { <tr>
                                <td valign="top" style="padding:10px 10px 10px 0">
                                </td>
                                <td valign="middle" style="padding:10px; color:#000;font-size:14px;background-color:#FFE6E6;width:100%;">
                                    <span style="background-color: #2c3e50;display: inline;padding: .2em .6em .3em;font-size: 75%;font-weight: bold;line-height: 1;color: #ffffff;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em;"> {Html(Messages("views.debate_yesorno"))} </span>
                                    <a style="color: #18bc9c;text-decoration: none;" href={"https://democras.com/debate/yesornoopinion/" + id.toString} > {Html(comment)} </a>
                                </td>
                            </tr>
                            }
                            
							case models.Petition(id: Long,_,_,_,name: String,_,_,_,_,_) => { <tr>
                                <td valign="top" style="padding:10px 10px 10px 0">
                                </td>
                                <td valign="middle" style="padding:10px; color:#000;font-size:14px;background-color:#F2F2FF;width:100%;"><span style="background-color: #2c3e50;display: inline;padding: .2em .6em .3em;font-size: 75%;font-weight: bold;line-height: 1;color: #ffffff;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em;">{Messages("views.petitions")}</span>
                                    <a style="color: #18bc9c;text-decoration: none;" href={"https://democras.com/petition/" + id.toString}>{name}</a>
                                </td>
                            </tr> 
                            }
                            
							case models.Action(id: Long,_,_,_,name: String,_,_,_,_,_,_,_,_,_,_) => { <tr>
                                <td valign="top" style="padding:10px 10px 10px 0">
                                </td>
                                <td valign="middle" style="padding:10px; color:#000;font-size:14px;background-color:#F2F2FF;width:100%;"><span style="background-color: #2c3e50;display: inline;padding: .2em .6em .3em;font-size: 75%;font-weight: bold;line-height: 1;color: #ffffff;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em;">{Messages("views.actions")}</span>
                                    <a style="color: #18bc9c;text-decoration: none;" href={"https://democras.com/action/" + id.toString}>{name}</a>
                                </td>
                            </tr>
                            }
                            
							case models.Concept(id: Long,name: String,definition: String,_,_,_,_,_) => { <tr>
                                <td valign="top" style="padding:0 10px 10px 0">
                                </td>
                                <td valign="middle" style="padding:10px; color:#000;font-size:14px;background-color:#DBF4E6;width:100%;"><span style="background-color: #2c3e50;display: inline;padding: .2em .6em .3em;font-size: 75%;font-weight: bold;line-height: 1;color: #ffffff;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em;">{Messages("views.concepts")}</span>
                                    <a style="color: #18bc9c;text-decoration: none;" href={"https://democras.com/concept/" + id.toString}>{name}</a>
                                </td>
                            </tr>
                            }
                            case models.Group(id: Long, name: String, definition:String, _, _, _, _) => { <tr>
                                <td valign="top" style="padding:0 10px 10px 0">
                                </td>
                                <td valign="middle" style="padding:10px; color:#000;font-size:14px;background-color:#DBF4E6;width:100%;"><span style="background-color: #2c3e50;display: inline;padding: .2em .6em .3em;font-size: 75%;font-weight: bold;line-height: 1;color: #ffffff;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em;">{Messages("views.groups")}</span>
                                    <a style="color: #18bc9c;text-decoration: none;" href={"https://democras.com/group/" + id.toString}>{name}</a>
                                </td>
                            </tr>
                            }
							  case _ => 
							}
							}}
                            
                        </table>
			
}