@(hash: String, username: String)(implicit messages: play.api.i18n.Messages)
@mails.main(messages) {

                        <table>
                            <tr>
                                <td valign="top" style="padding:0 10px 10px 0">
                                </td>
                                <td valign="middle" style="padding:0 10px 10px 0;color:#000;font-size:14px;">@Messages("mail.passwordforget.hello", username)<br/>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" style="padding:0 10px 10px 0">
                                </td>
                                <td valign="middle" style="padding:0 10px 10px 0;color:#000;font-size:14px;">@Messages("mail.passwordforget.youaskedanewpassword")<br/>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" style="padding:0 10px 10px 0">
                                </td>
                                <td valign="middle" style="padding:0 10px 10px 0; color:#000;font-size:14px;">@Messages("mail.passwordforget.clickonthisbutton")<br/>
                                </td>
                            </tr>
                        </table>
									<a href="https://democras.com/forget/@hash" style="color:white;background-color:#18bc9c;padding:5px;color: white;font-weight: bold; text-align: center;text-decoration: none;font-family: Arial sans-serif;border-radius: 3px;display:block;margin:auto; width:300px;">
                                        <p style="font-family:Arial;font-size:1.5em;">Ici</p>
                                    </a><br/>
                        <table>
                            <tr>
                                <td valign="top" style="padding:0 10px 10px 0">
                                </td>
                                <!-- <td valign="middle" style="padding:0 10px 10px 0; color:#000;font-size:14px;"><p>Si le bouton n''a pas march&eacute;, copiez-coller ce lien dans votre navigateur internet: <a href="https://democras.com/forget/@hash">https://www.democras.com/forget/@hash</a></p><br/>-->
                                </td>
                            </tr>
                        </table>
}