@charset "UTF-8";
@font-face
{
    font-family: pictonic;
    src: url("../fonts/pictonic.eot");
    src: url("../fonts/pictonic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/pictonic.ttf") format("truetype"),
        url("../fonts/pictonic.woff") format("woff"),
        url("../fonts/pictonic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.picon
{
	font-family: "pictonic";
	font-weight: normal; font-style: normal;
	-webkit-font-smoothing:  antialiased !important;
	-moz-font-smoothing:  antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	font-smoothing:  antialiased !important;
	line-height:1em;
}

a.picon, span.picon, small.picon {
	display: -moz-inline-stack;
	display:inline-block;
	zoom: 1;
	*display: inline;
}

[class^="picon-"], [class*="picon-"]
{
	font-family: "pictonic";
	font-weight: normal; font-style: normal;
	-webkit-font-smoothing:  antialiased !important;
	-moz-font-smoothing:  antialiased !important;
	font-smoothing:  antialiased !important;
	line-height:1em;
}

a[class^="picon-"], a[class*="picon-"], span[class^="picon-"], span[class*="picon-"], small[class^="picon-"], small[class*="picon-"] {
	display: -moz-inline-stack;
	display:inline-block;
	zoom: 1;
	*display: inline;
}

.picon-facebook:before { content:""; }
.picon-twitter-3:before { content:""; }
.picon-twitter-1:before { content:""; }
.picon-twitter-2:before { content:""; }
.picon-google__x2B_:before { content:""; }
.picon-mail:before { content:""; }
