@(idmeta: String)
  @if(idmeta == "index"){
    <meta property="og:title" content="Your opinion matters"/>
    <meta property="og:site_name" content="Democras"/>
    <meta property="og:url" content="http://www.democras.com/"/>
    <meta property="og:description" content="Democras"/>
    <meta property="fb:app_id" content="[FB_APP_ID]" />
    <meta property="og:type" content="Debat" />
    <meta property="debat:author" content="Democras" />
    <meta property="debat:publisher" content="http://www.democras.com/" />
    <meta property="og:image" content="http://democras.com/images/logo-lg.jpg" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:locale:alternate" content="fr_FR" />
  }else{
    <meta property="og:title" content="Your opinion matters"/>
    <meta property="og:site_name" content="Democras"/>
    <meta property="og:url" content="http://www.democras.com/"/>
    <meta property="og:description" content="Democras"/>
    <meta property="fb:app_id" content="[FB_APP_ID]" />
    <meta property="og:type" content="Debat" />
    <meta property="debat:author" content="Democras" />
    <meta property="debat:publisher" content="http://www.democras.com/" />
    <meta property="og:image" content="http://democras.com/images/logo-lg.jpg" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:locale:alternate" content="fr_FR" />
  }
